.intro {
	@include flex(center, space-between, 60px);
	@include container;
	padding-block: 130px 100px;
	overflow: hidden;

	@include media($tablet-bp) {
		flex-direction: column;
		align-items: baseline;
		gap: 0;
		padding-block: 50px 70px;
	}

	&Title {
		max-width: 711px;
	}

	&Desc {
		max-width: 454px;
		width: 100%;
		z-index: 2;

		@include pseudo(before) {
			width: 229px;
			height: 243px;
			top: -74px;
			right: -39px;
			background: url('../../assets/forTeachers-desc.png') no-repeat center center;
			background-size: 100% 100%;
			z-index: -1;

			@include media($tablet-bp) {
				width: 172px;
				height: 170px;
				top: -53px;
				right: -182px;
			}

			@include media($mobile-bp) {
				display: none;
			}
		}
	}
}
