.container {
	background-color: var(--blue-bg);
	padding: 10px 10px 60px;
	@include border-radius-16;
	position: relative;

	@include media($laptop-bp) {
		height: auto;
	}
}

.inner {
	margin-top: 24px;
	padding-inline: 30px;

	@include media($laptop-bp) {
		padding-inline: 20px;
	}

	@include media($tablet-bp) {
		padding-inline: 10px;
	}
}

.title {
	font-family: 'Montseratt', sans-serif;
	margin-bottom: 8px;
	font-size: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;

	@include media($laptop-bp) {
		font-size: 18px;
	}
}

.desc {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 16px;
}

.date {
	font-size: 14px;
	opacity: 0.5;
}

.button {
	display: block;
	margin-left: auto;
	margin-right: 30px;
}

.modalButton {
	display: block;
	margin-top: 40px;
	margin-inline: auto;
}

.poster {
	display: block;
	width: 100%;
	height: 58%;
	object-fit: fill;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 22px;
	width: 100%;
	padding-inline: 40px;
	@include flex(center, space-between, 24px);

	@include media($laptop-bp) {
		padding-inline: 30px;
	}

	@include media($tablet-bp) {
		padding-inline: 20px;
	}
}
