.inner {
	padding-inline: 30px;

	@include media($laptop-bp) {
		padding-inline: 20px;
	}

	@include media($mobile-bp) {
		padding-inline: 10px;
	}
}

.container {
	min-width: 464px;
	height: 481px;
	background-color: var(--blue-bg);
	padding: 10px 10px 40px;
	@include border-radius-16;

	@include media($laptop-bp) {
		height: auto;
		padding-bottom: 20px;
	}

	@include media($mobile-bp) {
		padding-bottom: 10px;
	}
}

.title {
	font-family: 'Montseratt', sans-serif;
	margin-block: 24px 8px;
	font-size: 20px;

	@include media($laptop-bp) {
		font-size: 18px;
	}
}

.desc {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 16px;
}

.date {
	font-size: 14px;
	opacity: .5;
}

.button {
	display: block;
	margin-left: auto;
	margin-right: 30px;
}

.modalButton {
	display: block;
	margin-top: 40px;
	margin-inline: auto;
}

.poster {
	display: block;
	width: 100%;
	height: auto;
}

.footer {
	@include flex(center, space-between, 24px);
}
