.container {
	@include flex(flex-start, space-between);

	@include media($tablet-bp) {
		flex-direction: column;
	}
}

.subTitle {
	color: var(--primary);
	font-size: 16px;
	font-weight: 700;
	font-family: 'Montseratt', sans-serif;
	margin-top: 5px;
	margin-left: auto;
	width: fit-content;
	margin-bottom: 24px;

	@include media($tablet-bp) {
		font-size: 14px;
	}

	@include media($tablet-bp) {
		order: -1;
		margin-left: 36px;
	}

	@include pseudo() {
		left: -33px;
		top: -3px;
		width: 27px;
		height: 24px;
		background: url('../../../../../public/assets/icon-title.png') no-repeat, center center;
		background-size: 100% 100%;
	}
}
