.container {
	padding-block: 100px;
}

.inner {
	@include flex($gap: 50px);

	@include media($mobile-bp) {
		flex-direction: column;
		align-items: baseline;
		margin-block: 16px 0;
		gap: 24px;
		border-radius: 30px;
	}
}

.title {
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--primary);
	margin-bottom: 20px;

	@include media($mobile-bp) {
		font-size: 18px;
		margin-bottom: 16px;
	}
}

.map {
	max-width: 952px;
	width: 100%;
	height: 330px;
	@include border-radius-16;;
	overflow: hidden;
	position: relative;
	z-index: 1;

	@include media($mobile-bp) {
		max-width: 100%;
		height: 229px;
		order: 1;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgb(114 180 255);
		background: linear-gradient(157deg, rgba(114, 180, 255, 1) 0%, rgba(3, 66, 139, 1) 100%);
		opacity: .1;
		z-index: 2;
		pointer-events: none;
		transition: opacity .4s ease-in-out;
	}

	&:hover {
		&:after {
			opacity: 0;
			transition: opacity .4s ease-in-out;
		}
	}
}

.mapFrame {
	width: 100%;
	height: 100%;
	border: none;
}

.info {
	@include media($mobile-bp) {
		padding-top: 48px;
		padding-inline: 24px;
	}

	&Inner {
		dt {
			font-weight: 700;
			font-size: 20px;
			display: inline-block;
			margin-bottom: 8px;
		}

		a {
			all: unset;
			cursor: pointer;
		}

		dd, a {
			display: inline-block;
			font-size: 18px;
			margin-bottom: 16px;
		}
	}

}
