.container {
	max-width: 768px;
	width: 100%;
	margin-inline: auto;
}

.tabs {
	width: 100%;
	overflow: hidden;
	z-index: 1;
	margin-bottom: 36px;

	@include pseudo() {
		z-index: 2;
		left: 0;
		bottom: 0;
		width: 50%;
		height: 2px;
		background-color: var(--primary);
		pointer-events: none;
		transform: translateX(100%);
		transition: transform 0.5s ease-in-out;
	}

	&.activeRight:before {
		transform: translateX(0);
		transition: transform 0.5s ease-in-out;
	}
}

.tab {
	width: 50%;
	outline: none;
	padding: 8px;
	text-align: center;
	position: relative;
	z-index: 1;
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid var(--gray-bg);
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	transition: color 0.3s ease-in-out;

	@include media($mobile-bp) {
		font-size: 14px;
		line-height: 18px;
	}

	&.active {
		color: var(--primary);
		font-weight: 700;
		transition: color 0.3s ease-in-out;
	}
}
