.container {
	padding-block: 110px;

	@include media($mobile-bp) {
		padding-block: 70px;
	}
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(464px, 1fr));
	gap: 24px;

	@include media($tablet-bp) {
		display: flex;
		flex-direction: column;
	}

	&Item {
		@include flex($justify: space-between, $gap: 12px);
		flex-direction: column;
		padding: 40px;
		min-height: 330px;
		@include border-radius-16;
		background-color: var(--white);

		@include media($laptop-bp) {
			min-height: 250px;
		}

		@include media($tablet-bp) {
			min-height: 180px;
			padding: 30px;
		}

		&:nth-child(1) {
			grid-column: 1 / 3;
			grid-row: 1 / 2;
			background: var(--white) url('../../assets/approach-first-item.png') no-repeat bottom right;
			background-size: 354px 232px;

			@include media($pc-bp) {
				grid-column: 1 / 4;
				grid-row: 1 / 3;
			}

			@include media($laptop-bp) {
				background-size: 287px 184px;
			}

			@include media($tablet-bp) {
				background-image: unset;
			}

			p {
				max-width: 70%;

				@include media($tablet-bp) {
					max-width: unset;
				}
			}
		}

		&:nth-child(2) {
			grid-column: 3 / 3;
			grid-row: 1 / 2;
			background: var(--primary) url('../../assets/approach-item-bg.png') no-repeat bottom right;
			background-size: 250px 228px;
			color: var(--white);

			@include media($pc-bp) {
				grid-column: 1 / 2;
				grid-row: 3 / 3;
			}

			@include media($laptop-bp) {
				background-size: 210px 188px;
			}

			@include media($tablet-bp) {
				order: -1;
				background-size: 158px 143px;
			}
		}

		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5) {
			grid-row: 2 / 3;
		}

		&:nth-child(3) {
			@include media($pc-bp) {
				grid-column: 2 / 3;
				grid-row: 3 / 3;
				margin-right: -24px;
			}

			@include media($tablet-bp) {
				margin-right: 0;
			}
		}

		&:nth-child(4) {
			@include media($pc-bp) {
				grid-column: 1 / 2;
				grid-row: 4 / 4;
			}
		}

		&:nth-child(5) {
			@include media($pc-bp) {
				grid-column: 2 / 3;
				grid-row: 4 / 4;
				margin-right: -24px;
			}

			@include media($tablet-bp) {
				margin-right: 0;
			}
		}

		h4 {
			text-transform: uppercase;
			font-size: 30px;
			font-weight: 400;

			@include media($laptop-bp) {
				font-size: 26px;
			}

			@include media($tablet-bp) {
				font-size: 20px;
			}
		}
	}
}
