.container {
	padding-block: 100px;
}

.inner {
	@include flex;
	@include border-radius-16;;
	overflow: hidden;
}

.title {
	text-transform: uppercase;
	font-size: 30px;

	@include media($laptop-bp) {
		font-size: 26px;
	}

	&Desc {
		margin-top: 4px;
		opacity: 0.5;
	}
}

.price {
	padding: 40px;
	max-width: 468px;
	width: 100%;
	background-color: var(--primary);
	@include border-radius-16;;
	color: var(--white);

	@include media($laptop-bp) {
		max-width: 300px;
	}

	&List {
		@include flex($justify: space-between, $gap: 24px);
		list-style-type: none;
		margin-top: 80px;
		margin-bottom: 30px;

		li {
			max-width: 128px;
			width: 100%;

			@include media($laptop-bp) {
				@include flex($justify: space-between);
				flex-direction: column;
			}
		}

		strong {
			display: block;
			margin-top: 16px;
			font-size: 28px;

			@include media($laptop-bp) {
				font-size: 20px;
			}
		}
	}

	.title {
		font-weight: 700;
	}

	&Button {
		margin-inline: auto;
		display: block;
	}
}

.discounts {
	width: 100%;
	padding: 40px;
	background: var(--white) url("../../assets/price-bg.png") no-repeat bottom right;
	background-size: 264px 361px;

	@include media($laptop-bp) {
		background-size: 214px 311px;
	}

	.title {
		font-weight: 400;
	}

	&List {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
		align-items: end;
		row-gap: 49px;
		column-gap: 69px;
		margin-top: 58px;
		list-style-type: none;
		max-width: 670px;
		width: 100%;

		& li {
			max-width: 300px;
			width: 100%;
		}

		& h5 {
			font-size: 20px;
			margin-bottom: 16px;

			@include media($laptop-bp) {
				font-size: 18px;
			}
		}

		& span {
			color: var(--primary);
		}
	}
}
