.container {
	color: var(--main-text);
	margin-bottom: 24px;
	text-transform: uppercase;
	font-weight: 400;

	&--large {
		font-size: 50px;

		.highlight {
			color: var(--primary);
		}
	}

	&--medium {
		font-size: 30px;

		@include media($laptop-bp) {
			font-size: 26px;
		}

		.highlight {
			color: var(--second-primary);
		}
	}
}

.highlight {
	font-weight: 700;
}
