.container {
	height: 900px;
	margin-top: -89px;
	background: #F4F6FA linear-gradient(176deg, #F4F6FA 0%, #F2F2FC 68%, #e0daf9 100%);

	@media only screen and (max-height: 700px) {
		min-height: 100vh;
	}

	@include media($laptop-bp) {
		max-height: 750px;
	}

	@include media($mobile-bp) {
		max-height: 600px;
	}
}

.inner {
	@include flex($align: center);
	position: relative;
	height: 100%;
}

.info {
	@include flex(flex-start, center, 48px);
	flex-direction: column;
	text-align: left;
	max-width: 737px;
	position: relative;
	z-index: 2;
	color: var(--main-text);

	@include media($mobile-bp) {
		gap: 24px;
	}

	&Title {
		font-size: 50px;
		font-weight: 400;
		text-transform: uppercase;
		max-width: 708px;
		@include pseudo() {
			left: -82px;
			top: -87px;
			width: 206px;
			height: 160px;
			background: url("../../assets/title-decoration.png") no-repeat center center;
			z-index: -1;
		}

		@include media($pc-bp) {
			font-size: 44px;
		}

		@include media($laptop-bp) {
			font-size: 40px;
		}

		@include media($mobile-bp) {
			font-size: 32px;
		}

		span {
			font-weight: 700;
			color: var(--primary);
		}
	}

	&Desc {
		max-width: 460px;
		font-size: 20px;

		@include media($mobile-bp) {
			font-size: 18px;
		}
	}
}

.poster {
	z-index: 0;
	display: block;
	position: absolute;
	height: 100%;
	right: 0;
	bottom: 0;
	max-width: 971px;
	max-height: 801px;

	@include media($laptop-bp) {
		max-width: 854px;
		max-height: 680px;
	}

	@include media($mobile-bp) {
		max-width: 764px;
		max-height: 590px;
	}
}
