.container {
	height: 900px;
	margin-top: -89px;
	background: #F4F6FA linear-gradient(176deg, #F4F6FA 0%, #F2F2FC 68%, #e0daf9 100%);

	@media only screen and (max-height: 700px) {
		min-height: 100vh;
	}

	@include media($laptop-bp) {
		max-height: 811px;
	}

	@include media($tablet-bp) {
		max-height: 772px;
	}
}

.inner {
	@include flex($align: center);
	position: relative;
	height: 100%;

	@include media($mobile-bp) {
		align-items: baseline;
	}
}

.info {
	@include flex(flex-start, center, 48px);
	flex-direction: column;
	text-align: left;
	max-width: 737px;
	position: relative;
	z-index: 2;
	color: var(--main-text);

	@include media($tablet-bp) {
		gap: 24px;
	}

	@include media($mobile-bp) {
		margin-top: 185px;
	}

	&Title {
		font-size: 50px;
		font-weight: 400;
		text-transform: uppercase;
		max-width: 708px;
		@include pseudo() {
			left: -82px;
			top: -87px;
			width: 206px;
			height: 160px;
			background: url("../../assets/title-decoration.png") no-repeat center center;
			background-size: 100% 100%;
			z-index: -1;

			@include media($pc-bp) {
				left: -48px;
				top: -64px;
				width: 181px;
				height: 138px;
			}

			@include media($tablet-bp) {
				left: -37px;
				top: -53px;
				width: 141px;
				height: 95px;
			}

			@include media($mobile-bp) {
				top: -40px;
			}
		}

		@include media($pc-bp) {
			font-size: 44px;
		}

		@include media($laptop-bp) {
			font-size: 40px;
		}

		@include media($tablet-bp) {
			font-size: 32px;
			max-width: 500px;
		}

		span {
			font-weight: 700;
			color: var(--primary);
		}
	}

	&Desc {
		max-width: 460px;
		font-size: 20px;

		@include media($tablet-bp) {
			font-size: 18px;
		}
	}
}

.poster {
	z-index: 0;
	display: block;
	position: absolute;
	height: 100%;
	right: 0;
	bottom: 0;
	max-width: 971px;
	max-height: 801px;

	@include media($laptop-bp) {
		max-width: 784px;
		max-height: 610px;
	}

	@include media($tablet-bp) {
		max-width: 604px;
		max-height: 510px;

		//max-width: 709px;
		//max-height: 565px;
	}

	@include media($mobile-bp) {
		max-width: 100%;
		max-height: unset;
		height: auto;
	}
}
