.container {
	margin-block-end: 80px;

	@include media($mobile-bp) {
		margin-block-end: 40px;
	}
}

.title {
	font-size: 40px;
	line-height: 1.2;
	text-align: center;
	color: var(--main-text);
	margin-bottom: 40px;

	@include media($mobile-bp) {
		font-size: 24px;
		margin-bottom: 20px;
	}
}
