.container {
	@include flex(flex-end);
	padding-top: 40px;
	padding-bottom: 40px;

	@include media($tablet-bp) {
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
	}

	.logo {
		margin-block: auto;
	}

	a {
		font-weight: 700;
		text-decoration: none;
	}

	p,
	a {
		line-height: 1.8;
		color: var(--main-text);

		@include media($laptop-bp) {
			font-size: 14px;
		}
	}

	p {
		margin-left: 24px;

		@include media($tablet-bp) {
			margin-left: 0;
		}

		&:not(:first-of-type) {
			margin-left: auto;

			@include media($tablet-bp) {
				margin-left: 0;
			}
		}
	}
}

.signature {
	white-space: nowrap;
}
