.container {
	@include flex(flex-end);
	padding-top: 40px;
	padding-bottom: 40px;

	@include media($mobile-bp) {
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}

	.logo {
		margin-block: auto;
	}

	a {
		font-weight: 700;
		text-decoration: none;
	}

	p,
	a {
		line-height: 1.8;
		color: var(--main-text);
	}

	p {
		margin-left: 24px;

		&:not(:first-of-type) {
			margin-left: auto;
		}
	}
}
