.container {
	font-size: 16px;
	line-height: 1.1;
	font-weight: 500;
	@include border-radius-16;;
	border: 1px solid transparent;
	outline: none;
	padding: 20px 28px;
	transition: all 0.3s ease-out;

	&:disabled {
		cursor: not-allowed;
	}

	&.primary {
		@include background-gradient;
	}

	&.white {
		background-color: var(--white);
		color: var(--primary);
		border-color: var(--primary);

		&:hover {
			color: var(--second-primary);
			border-color: var(--second-primary);
		}
	}

	&.text {
		color: var(--primary);
		background-color: transparent;
		border: none;
		text-align: left;
		padding: 0;
		font-weight: 500;
		transition: all 0.3s ease-out;

		@include pseudo(after) {
			right: -29px;
			top: -5px;
			width: 25px;
			height: 25px;
			background: url('../../../../../public/assets/icon-arrow-left--primary.svg') no-repeat, center center;
			transition: all 0.3s ease-out;
		}

		&:hover {
			color: var(--second-primary);
			cursor: pointer;
			transition: all 0.3s ease-out;

			&:after {
				transform: rotateZ(-45deg);
				background: url('../../../../../public/assets/icon-arrow-left--second-primary.svg') no-repeat, center center;
				transition: all 0.3s ease-out;
			}
		}
	}
}
