.container {
	border: none;
	background-color: var(--primary);
	@include border-radius-16;;

	&--open {
		width: 57px;
		height: 57px;
		padding: 20px 15px;
		@include background-gradient;

		img {
			width: 26px;
			height: 17px;
		}
	}

	&--close {
		width: 72px;
		height: 72px;
		padding: 20px;
		position: absolute;
		right: 40px;
		top: 0;
		transition: opacity .3s ease-out;

		@include media($laptop-bp) {
			right: 0;
		}

		&:hover {
			opacity: 0.7;
			transition: opacity .3s ease-out;
		}

		img {
			width: 32px;
			height: 32px;
		}
	}
}
