.container {
	border: none;
	background-color: var(--primary);
	@include border-radius-16;

	&--open {
		width: 57px;
		height: 57px;
		padding: 20px 15px;
		@include background-gradient;

		@include media($tablet-bp) {
			width: 49px;
			height: 50px;
			padding: 15px 10px;
			@include flex(center, center);
			flex-direction: column;
		}

		img {
			width: 26px;
			height: 17px;

			@include media($tablet-bp) {
				width: 23px;
				height: 15px;
			}
		}
	}

	&--close {
		width: 72px;
		height: 72px;
		padding: 20px;
		position: absolute;
		right: 40px;
		top: 0;
		transition: opacity 0.3s ease-out;

		@include media($laptop-bp) {
			right: 6px;
			top: 18px;
		}

		&:hover {
			opacity: 0.7;
			transition: opacity 0.3s ease-out;
		}

		img {
			width: 32px;
			height: 32px;
		}
	}
}
