.container {
	margin-block: 150px;

	@include media($tablet-bp) {
		margin-block: 70px;
	}

	&--large {
		@include media($tablet-bp) {
			margin-block: 70px 150px;
		}
	}
}

.inner {
	position: relative;
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 460px));
	grid-template-rows: auto;
	list-style-type: none;

	&--static {
		row-gap: 39px;
		column-gap: 24px;

		&Item {
			min-width: 464px;
			height: 481px;
		}
	}
}

.listStatic {
	@include flex();
	flex-wrap: wrap;
	gap: 24px;
	list-style-type: none;

	&Item {
		width: calc(33% - 13px);

		@include media($tablet-bp) {
			width: calc(50% - 13px);
		}

		@include media($mobile-bp) {
			width: 100%;
			gap: 0;
		}
	}
}

.item {
	background-color: var(--blue-bg);
	padding: 10px 10px 40px;
	@include border-radius-16;
}

.tabs {
	@include flex($gap: 17px);
	flex-wrap: wrap;
	margin-bottom: 24px;
}

.seeMoreButton {
	display: block;
	margin-top: 48px;
	margin-inline: auto;
}

.modalButton {
	display: block;
	margin-top: 40px;
	margin-inline: auto;
}
