.container {
	margin-block: 150px;
}

.inner {
	position: relative;
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 460px));
	grid-template-rows: auto;
	row-gap: 39px;
	column-gap: 24px;
	list-style-type: none;

	@include media($laptop-bp) {
		column-gap: 0;
	}
}

.item {
	background-color: var(--blue-bg);
	padding: 10px 10px 40px;
	@include border-radius-16;
}

.tabs {
	@include flex($gap: 17px);
	margin-bottom: 24px;
}

.seeMoreButton {
	display: block;
	margin-top: 48px;
	margin-inline: auto;
}

.modalButton {
	display: block;
	margin-top: 40px;
	margin-inline: auto;
}
