.container {
	overflow-x: hidden;
}

.inner {
	padding-block: 150px;

	@include media($mobile-bp) {
		padding-block: 70px;
	}
}

.schedule {
	@include border-radius-16;
	background-color: var(--blue-bg);
	padding: 40px;
	position: relative;

	@include pseudo(after) {
		top: -89px;
		right: -143px;
		width: 485px;
		height: 344px;
		background: url('../../assets/schedule-plane.png') no-repeat center center;
		background-size: 100% 100%;
		z-index: 1;

		@include media($laptop-bp) {
			top: -74px;
			right: -84px;
			width: 405px;
			height: 264px;
		}

		@include media($tablet-bp) {
			top: -40px;
			right: -49px;
			width: 249px;
			height: 178px;
		}
	}

	@include pseudo(before) {
		bottom: -56px;
		left: -70px;
		width: 152px;
		height: 169px;
		background: url('../../assets/schedule-signature.png') no-repeat center center;
		background-size: 100% 100%;
		z-index: 1;

		@include media($laptop-bp) {
			bottom: -25px;
			left: -26px;
			width: 102px;
			height: 119px;
		}

		@include media($tablet-bp) {
			bottom: -6px;
			left: -7px;
			width: 82px;
			height: 91px;
		}
	}

	@include media($tablet-bp) {
		padding: 30px;
	}
}

.title {
	font-family: 'Montseratt', sans-serif;
	font-size: 20px;
	margin-bottom: 24px;

	@include media($laptop-bp) {
		font-size: 18px;
	}

	@include media($tablet-bp) {
		font-size: 16px;
	}
}

.list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	row-gap: 12px;
	column-gap: 24px;
	list-style-type: none;

	@include media($tablet-bp) {
		grid-template-columns: 1fr;
	}

	&Item {
		padding: 22px 30px;
		@include border-radius-16;
		background-color: var(--white);

		@include media($tablet-bp) {
			padding: 14px 22px;
		}

		span {
			color: var(--primary);
			font-weight: 600;
			margin-right: 12px;
		}
	}
}
