.container {
	@include flex($align: center);

	&.active {
		display: flex;
		flex-direction: column;
		align-items: baseline;
		position: absolute;
		width: 364px;
		height: 100vh;
		background-color: var(--primary);
		right: -40px;
		top: 0;
		padding-top: 80px;
		padding-left: 40px;
		z-index: 2;

		& .link {
			color: var(--white);
		}

		@include media($laptop-bp) {
			width: 100%;
			left: 0;
		}

		&:before {
			content: ' ';
			position: absolute;
			top: 0;
			z-index: 1;
			left: -100vw;
			width: 100vw;
			height: 100vh;
			background: rgba(0, 0, 0, 0.5);
			-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(10px);
			transition: background-color 0.2s ease-in-out;
			pointer-events: none;
		}
	}

	@include media($laptop-bp) {
		display: none;
	}
}

.list {
	list-style-type: none;
	margin-top: 50px;
}

.box {
	width: max-content;
	margin-bottom: 32px;
}

.link {
	all: unset;
	cursor: pointer;
	font-size: 20px;
	font-weight: 500;
	color: var(--white);
	transition: all 0.3s ease-in-out;

	@include pseudo(after) {
		right: -30px;
		bottom: -1px;
		width: 25px;
		height: 25px;
		opacity: 0;
		transform: translateX(-20px);
		background: url('../../../../../public/assets/icon-arrow-left.svg') no-repeat, center center;
		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	}

	@include media($laptop-bp) {
		display: block;
		width: fit-content;
		margin-bottom: 14px;
	}

	@include media($mobile-bp) {
		font-size: 18px;
	}

	&:hover,
	&.active {
		opacity: 1;

		&:after {
			opacity: 1;
			transform: translateX(0);
			transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
		}
	}
}

.contacts {
	flex-grow: 1;
	align-content: flex-end;
	margin-bottom: 40px;
	padding-right: 60px;

	@include media($mobile-bp) {

	}

	&Button {
		margin-top: 40px;
	}

	a, p {
		display: block;
		text-decoration: none;
		font-size: 14px;
		color: var(--white);
		margin-top: 16px;
	}
}
